# This is Git's per-user configuration file.
[user]
	name = BeatrizLimaG
	email = beatrizslg00@gmail.com
# Please adapt and uncomment the following lines:
#	name = Beatriz Dos Santos Lima Gomes
#	email = ht3015793@hto.ifsp.edu.br
